---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "About"

const identity = {
	firstName: "Steve",
	country: "UK",
	occupation: "flunky",
	hobbies: ["Astro","RSE"]
};

	const skills = ["Python", "R", "Matlab"]
	const happy = true;
	const finished = false;
	const goal = 3;

	const skillColor = "navy";
	const fontWeight = "bold";
	const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<Header />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
		color: var(--skillColor);
		font-weight: var(--fontWeight);
		text-transform: var(--textCase);
	}
		</style>
	</head>
	<body>
		<h1>{pageTitle}</h1>
		<h2> this is an about page </h2>

		<p> My skills are:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		<p> Working through the Astro blog tutorial </p>

		{happy && <p>I am happy to be learning Astro!</p>}
		{finished && <p>I finsihed this tutorial!</p>}
		{goal == 3 ? <p>My gial is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
		<Footer />
	</body>
</html>
