---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const pageTitle = "Blog"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Astro Site</title>
	</head>
	<body>

		<Header />

		<h1>My Astro Site</h1>
		<h1>My Astro Learning Blog</h1>
		<p> This is where I will post about my journey learning Astro. </p>
		
		<ul>
			<li><a href="/posts/post-1/">Post 1</a></li>
		</ul>
	
		<Footer />
	</body>
</html>
