---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Social from '../components/Social.astro'
const pageTitle = "Home"

const identity = {
	firstName: "Steve",
	country: "UK",
	occupation: "flunky",
	hobbies: ["Astro","RSE"]
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />

		<h1>My Astro Site</h1>

		<p> Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			{identity.hobbies.length >= 2 && <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>}
		<Footer />
		<script>
			document.querySelector('.hamburger').addEventListener('click', () => {
				document.querySelector('.nav-links').classList.toggle('expanded');
			});
		</script>
	</body>
</html>
