---
import Social from './Social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
</style>

<footer>
  <Social platform='gitlab' username='scheckley' />
  <Social platform='github' username='scheckley' />
</footer>

