---
const {platform, username} = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform }</a>

<style>
  a {
    text-decoration: none;
    color: white;
    background-color: #4c1d95;
    padding: 0.5rem 1rem;

}
</style>
